<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress-e-wallet/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress-e-wallet/index.php [L]
</IfModule>
